<!-- <div class="footer">
  <a href=""><i class="fa fa-home" aria-hidden="true"></i></a>
  <div class="search">
    <form>
      <input type="text" name="search" placeholder="Search..">
    </form>
</div>
  <a (click)="Verifylogin()"> <i class="fa fa-user-circle-o" aria-hidden="true"></i></a>
</div> -->

<div class="footer">
  <div class="home">
  <button (click)="home()"><i class="fas fa-home"></i></button>
</div>
  <div class="user">
    <button (click)="Verifylogin()" ><i class="fas fa-user-circle"></i></button>
  </div>
</div>